@page "/"
@using RestSharp

<PageTitle>Categorias</PageTitle>


@if(_categories is null)
{
    <p>
        <em>Carregando...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in _categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Title</td>
                    <td>@category.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

<hr>

<form>
  <div class="form-group">
    <label class="form-label">ID</label>
    <input type="text" class="form-control" @bind="_category.Id">
  </div>
  <div class="form-group">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" @bind="_category.Title">
  </div>
  <div class="form-group">
    <label class="form-label">Description</label>
    <input type="text" class="form-control" @bind="_category.Description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code {

    private List<Category>? _categories;
    private Category _category = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        @* _categories = await Http.GetFromJsonAsync<List<Category>>("v1/categories"); *@

        var client = new RestClient();
        var request = new RestRequest($"{Configuration.ApiUrl}/v1/categories");

        _categories = await client.GetAsync<List<Category>?>(request);
    }

}